body {
    font-size: 1rem;
    height: 100%;
    margin: 0px;

}

.contenedor { 
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 0.25 1.75;
    grid-template-areas: 
    "logo nav";
}


.main1 {
    grid-area: main;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-areas:
    "carrousel carrousel"
    "seccion2 aside";

    min-height: 100px;
    overflow: auto;
}

.main2 {
    grid-area: main;
}

.carrousel {
    grid-area: carrousel;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.carrousel img {
    width: 100%;
    height: auto;
}

@supports(object-fit: cover){
    .carrousel img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.seccion2 {
    grid-area: seccion2;
    padding: 30px;
}

aside {
    grid-area: aside;
}

.info-aside {
    margin-top: 40px;
    padding: 40px;
    background-color:antiquewhite;
}

.seccion2 article {
   display: flex;
   padding: 20px;
}

.contenido {
    padding: 20px;
    text-align: justify;
}

.titulo-p {
    margin-top: -55px;
}

.titulo-seccion {
    font-family: 'Inspiration', cursive;
    color: burlywood;
    font-size: 50px;
    font-weight: 100;
    
}

.color {
    font-size: 17px;
    color: rgb(174, 81, 177);
}

/*menu*/
.header-logo {
    grid-area: logo;
    margin: auto;
    text-align: center;
}


.header-menubar {
    grid-area: nav;
}

ul {
    text-align: right;
    list-style: none;
}

.header-menubar li {
    margin-top: 40px;
    display: inline-block;
    text-align: center;
    padding: 1rem;
}

.header-menubar a {
    text-decoration: none;
    color: burlywood;
}

.header-menubar a:hover {
    color: dimgray;
}

.header-menubar li a{
    font-size: 20px;
    font-weight: 700;
}

.formulario {
    text-align: center;
    margin: auto;
    padding: 50px 50px;
    background-color: aqua;
    width: 600px;
}

.form-titulo div {
    padding: 30px;
}

.form-contenido {
    padding: 30px; 
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


