body {
    font-size: 1rem;
    height: 100%;
    margin: 0px;

}

.contenedor { 
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 0.25 1.75;
    grid-template-areas: 
    "logo nav";
}


.main1 {
    grid-area: main;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-areas:
    "carrousel carrousel"
    "seccion2 aside";

    min-height: 100px;
    overflow: auto;
}

.main2 {
    grid-area: main;
}

.carrousel {
    grid-area: carrousel;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.carrousel img {
    width: 100%;
    height: auto;
}

@supports(object-fit: cover){
    .carrousel img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }

.seccion2 {
    grid-area: seccion2;
    padding: 30px;
}

aside {
    grid-area: aside;
}

.info-aside {
    margin-top: 40px;
    padding: 40px;
    background-color:antiquewhite;
}

.seccion2 article {
   display: flex;
   padding: 20px;
}

.contenido {
    padding: 20px;
    text-align: justify;
}

.titulo-p {
    margin-top: -55px;
}

.titulo-seccion {
    font-family: 'Inspiration', cursive;
    color: burlywood;
    font-size: 50px;
    font-weight: 100;
    
}

.color {
    font-size: 17px;
    color: rgb(174, 81, 177);
}

/*menu*/
.header-logo {
    grid-area: logo;
    margin: auto;
    text-align: center;
}


.header-menubar {
    grid-area: nav;
}

ul {
    text-align: right;
    list-style: none;
}

.header-menubar li {
    margin-top: 40px;
    display: inline-block;
    text-align: center;
    padding: 1rem;
}

.header-menubar a {
    text-decoration: none;
    color: burlywood;
}

.header-menubar a:hover {
    color: dimgray;
}

.header-menubar li a{
    font-size: 20px;
    font-weight: 700;
}

.formulario {
    text-align: center;
    margin: auto;
    padding: 50px 50px;
    background-color: aqua;
    width: 600px;
}

.form-titulo div {
    padding: 30px;
}

.form-contenido {
    padding: 30px; 
}

footer {
    background-color: aliceblue;
    padding: 50px;
}