* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    font-size: 1rem;
    margin: 0px;
}

.contenedor { 
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

/*nav*/
.contenedor-nav {
    place-content: flex-start;
    grid-area: header;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-areas: 
    "logo nav";
}

.nav-img {
    grid-area: logo;
    margin: auto;
}

.header-menubar {
    grid-area: nav;
    display: flex;
    place-content: space-between;
}

ul {
    list-style: none;
}

.header-menubar li {
    margin-top: 30px;
    display: inline-block;
    text-align: center;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.header-menubar a:hover {
    color: dimgray;
}

.header-menubar li a{
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: burlywood;
}

#menu, #menu-check {
    display: none;
}

@media only screen and (max-width: 900px) {
    .contenedor-nav, .contenedor-nav ul, .contenedor-nav ul li {
        display: inline;
    }
    .header-menubar {
        width: 100%;
        display: inline;
    }
}

@media only screen and (max-width: 700px) {
    .nav-img{
        margin: 1em;
    }

    .nav-img a{
        padding: 0;
    }

    .contenedor-nav{
        display: flex;
        place-content: space-between;
    }

    #menu-check:not(:checked) ~ nav {
        display: none;
    }

    #menu-check:checked ~ nav {
        display: block;
    }

    #menu {
        display: block;
        color: #aa727b;
        background-color: white;
        font-size: 1.5em;
        font-weight: bold;
        border: 1px solid #aa727b;
        border-radius: 0.3em;
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        z-index: 9999;
        padding: 0.3em 0.6em;
    }

    #menu:hover {
        color: white;
        background-color: #aa727b;
    }
    
    #menu-cerrar {
        display: none;
    }

    #menu-check:checked ~ label #menu-abrir {
        display: none;
    }

    #menu-check:checked ~ label #menu-cerrar {
        display: block;
    }

    .header-menubar {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #818a91;
        padding-top: 0.5em;
        padding-right: 4em;
        opacity: 0.8;
        color: #fff;
    }

    .header-menubar ul a {
        color: #fff;
        background: none;
    }

    .header-menubar ul, .contenedor-nav ul li{
        display: block;
        margin: 0;
        padding: 0.5em;
        text-align: right;
    }

    main {
        text-align: center;
    }

}

/*carrousel*/
.container-slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    width: 300%;
    height: 400px;
    margin-left: -100%;
}

.slider__section {
    width: 100%;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover {
    background: #fff;
}

.slider__btn--right {
    right: 10px;
}

.slider__btn--left {
    left: 10px;
}

/*secciones*/

.main1 {
    grid-area: main;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-areas:
    "seccion1 aside";

    min-height: 100px;
    overflow: auto;
}

@media only screen and (max-width: 700px) {

    .main1 {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "seccion1"
        "aside";
    
        min-height: 100px;
        overflow: hidden;
    }
}

.main2 {
    grid-area: main;
}

.seccion1 {
    grid-area: seccion1;
    padding: 30px;
}

.seccion1 img {
    width: 400px;
}

.seccion1 article {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 20px;
}

.contenido {
    padding: 10px;
    align-items: center;
    margin: auto;
    text-align: justify;
}

.titulo-seccion {
    font-family: 'Inspiration', cursive;
    color: rgb(165, 142, 112);
    font-size: 50px;
    font-weight: 100;
    margin: 0px; 
}

.color {
    font-size: 17px;
    color: rgb(199, 74, 101) !important;
    font-weight: 100%;
}

/*aside*/

aside {
    grid-area: aside;
}

.info-aside h1 {
    font-size: 40px;
    margin: 0px;
    color: rgb(165, 142, 112);
    font-weight: 100;
    font-family: 'Inspiration', cursive;
}

.info-aside {
    margin-top: 40px;
    padding: 40px;
    background-color:antiquewhite;
}

@media only screen and (max-width: 700px) {
    .seccion1 article {
        display: grid;
        grid-template-columns: 1fr;
     }

    .contenido {
        padding: 10px;
        padding-bottom: 30px;
        text-align: justify;
    }

    .contenido h3 {
        text-align: center;
    }
    
    .titulo-seccion {
        font-family: 'Inspiration', cursive;
        color: rgb(165, 142, 112);
        font-size: 40px;
        font-weight: 100;
        margin: 0px; 
    }

    .info-aside {
        padding: 40px;
        background-color:antiquewhite;
    }
}

/*form*/
.formulario {
    text-align: center;
    margin: auto;
    padding: 40px 25%;
    background-color: rgb(168, 201, 201);
    width: 100%;
}

.form-titulo div {
    padding: 30px;
}

.form-contenido {
    padding: 30px; 
}

@media only screen and (max-width: 700px) {
    .formulario {
        text-align: center;
        margin: auto;
        padding: 20px;
        background-color: rgb(168, 201, 201);
        width: 100%;
    }
}

/*footer*/

.seccion-footer {
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.5fr;

    background-color:#836959;
    padding: 40px;
    margin-top: 40px;
    font-size: 15px;
    color: #ffffff;
}

@media only screen and (max-width: 900px) {

    .seccion-footer {
        display: grid;
        grid-template-columns: 1fr;
    
        background-color:#26272b;
        padding: 40px;
        margin-top: 40px;
        font-size: 15px;
        color: #737373;
        width: 100%;
    }
}

.seccion-footer div {
  text-align: center;
  padding: 0px;
}

.links-footer {
  text-align: center;
  padding: 0px;
}

.redes-iconos {
  list-style: none;
  padding: 0px;
  text-align: center;
}

.redes-iconos li {
  display: inline-block;
  margin: auto 5px;
} 

.redes-iconos a {
  background-color:#eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  border-radius: 100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.redes-iconos a:active,.redes-iconos a:focus,.redes-iconos a:hover
{
  color:#fff;
  background-color:#29aafe
}



